.node {
  cursor: pointer;
}
.link,
.node rect {
  fill: none;
  stroke-width: 1.5px;
  stroke: #636363;
}
.link {
  stroke: #969696;
}
.node rect {
  fill: white;
}
.link path,
.node rect,
.node text {
  -moz-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}
.node rect.normal {
  fill: #bdbdbd;
  stroke: none;
}
.node rect.selected {
  fill: none;
  stroke: #9b0000;
  stroke-width: 3;
}
.node .data rect {
  stroke: #3182bd;
}
.node .datum rect {
  fill: #d9d9d9;
  stroke: none;
}
.node .null rect {
  fill: none;
  stroke: none;
}
.node .null text {
  fill: #636363;
}
.node .code text {
  font-family: monospace;
}
.node .key rect {
  fill: #a1d99b;
  stroke: none;
}
.link .to-key {
  stroke: #a1d99b;
}
.link .to-null {
  stroke-dasharray: 0.5, 3.5;
  stroke-linecap: round;
}
.link .from-data {
  stroke: #3182bd;
}
code span {
  -moz-transition: background 250ms linear;
  -ms-transition: background 250ms linear;
  -o-transition: background 250ms linear;
  -webkit-transition: background 250ms linear;
  transition: background 250ms linear;
}
