body {
  min-height: 100%;
}

// https://stackoverflow.com/questions/8344688/how-to-get-scrollbars-in-svg/11449016#11449016
// #root {
//   height: 980px;
//   width: 1000px;
//   border: 2px solid #000;
//   overflow: scroll;
// }

// svg {
//   height: 100px;
//   width: 1100px;
//   border: 1px dotted #ccc;
//   background-color: #ccc;
// }
/* path {
      fill: none;
      stroke: #646464;
      stroke-width: 1px;
      stroke-dasharray: 2, 2;
      stroke-linejoin: round;
    }

    path {
      outline: 3px solid green;
    }

    svg {
      background-color: #897b452e
    } */
/*
.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip .top {
    min-width:200px; 
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip:hover .top {
    display:block;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
*/
